{% extends 'core/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card text-center shadow">
            <div class="card-body">
                <h3 class="text-success"><i class="fas fa-check-circle"></i> Tudo Certo!</h3>
                <p class="lead">Sua senha foi alterada com sucesso.</p>
                <a href="{% url 'login' %}" class="btn btn-primary mt-3">Fazer Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}